#Commenting these out for now.
public net.minecraft.client.gui.components.AbstractSelectionList repositionEntries()V
#public net.minecraft.world.entity.LivingEntity getJumpPower()F # getJumpPower
#public net.minecraft.world.entity.animal.Rabbit getJumpPower()F # getJumpPower